html {
    font-size: 14px;
}
body {
    background: #f6f9fc;
    font-family: "Open Sans", sans-serif;
    color: #525f7f;
}
h2 {
    margin: 5%;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}
.timeline {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 5% auto;
}
.timeline__event {
    background: #fff;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.timeline__event__title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    color: #9251ac;
    letter-spacing: 1.5px;
}
.timeline__event__content {
    padding: 20px;
}
.timeline__event__date {
    color: #f6a4ec;
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
}
.timeline__event__icon {
    border-radius: 8px 0 0 8px;
    background: #9251ac;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    font-size: 2rem;
    color: #9251ac;
    padding: 20px;
}
.timeline__event__icon i {
    position: absolute;
    top: 50%;
    left: -65px;
    font-size: 2.5rem;
    transform: translateY(-50%);
}
.timeline__event__description {
    flex-basis: 60%;
}
.timeline__event:after {
    content: "";
    width: 2px;
    height: 100%;
    background: #9251ac;
    position: absolute;
    top: 52%;
    left: -3.5rem;
    z-index: -1;
}
.timeline__event:before {
    content: "";
    width: 5rem;
    height: 5rem;
    position: absolute;
    background: #f6a4ec;
    border-radius: 100%;
    left: -6rem;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #9251ac;
}
.timeline__event--type2:before {
    background: #fe8787;
    border-color: #c05555;
}
.timeline__event--type2:after {
    background: #5becb0;
}
.timeline__event--type2 .timeline__event__date {
    color: #fae5e5;
}
.timeline__event--type2 .timeline__event__icon {
    background: #c05555;
    color: #c05555;
}
.timeline__event--type2 .timeline__event__title {
    color: #c05555;
}
.timeline__event--type3:before {
    background: #fc9f8e; /* Change to your desired shade of red */
    border-color: #56cc3e; /* Change to your desired border color */
}
.timeline__event--type3:after {
    background: #adcc3e; /* Change to your desired shade of red */
}
.timeline__event--type3 .timeline__event__date {
    color: #fafafa; /* Change to your desired text color */
}
.timeline__event--type3 .timeline__event__icon {
    background: #f8663a; /* Change to your desired shade of red */
    color: #cc3e3e; /* Change to your desired icon color */
}
.timeline__event--type3 .timeline__event__title {
    color: #1aaa39cb; /* Change to your desired text color */
}

.timeline__event:last-child:after {
    content: none;
}
@media (max-width: 786px) {
    .timeline__event {
        flex-direction: column;
    }
    .timeline__event__icon {
        border-radius: 4px 4px 0 0;
    }
}
.timeline__event__icons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}
.timeline_button {
    display: flex; /* Enable flexbox layout */
    justify-content: flex-end; /* Push the button to the right */

    color: #9c0404; /* White text color */
    border: none; /* No border */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 4px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
}
